<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MailForm</title>
</head>
<body>
<div style="border-style:solid;border-width:thin;border-color:#dadce0;border-radius:8px;padding:40px 20px" align="center" class="m_5689022136018197422mdv2rw">
    <div style="font-family:'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;border-bottom:thin solid #dadce0;color:rgba(0,0,0,0.87);line-height:32px;padding-bottom:24px;text-align:center;word-break:break-word">
        <div style="font-size:24px">SPOT 이메일 인증</div>
    </div>
    <div style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:14px;color:rgba(0,0,0,0.87);line-height:20px;padding-top:20px;text-align:left">
        <a style="font-weight:bold">${email}</a>에 대한 인증 요청이 접수되었습니다.<br>
        <br>다음 코드를 사용하여 이메일 인증을 완료하세요.<br>
        <div style="text-align:center;font-size:36px;margin-top:20px;line-height:44px">${verificationCode}</div>
        <br>코드는 5분 후 만료됩니다.<br><br>
        <a style="font-weight:bold">${sender}</a> 주소를 모른다면 이 이메일을 무시하시기 바랍니다.</div>
</div>
</body>
</html>